{%extends 'partials/base.html'%}
{%block title%}
staff
{%endblock title%}
{%block content%}
 {%include 'partials/top-bar.html'%}
<div class="row my-4" style="margin-left: 22em;" >

    <div class="col-md-4">
        <div class="col-md-8">
            <table class="table bg-white">
                <thead class="bg-info text-white">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">first</th>
                        <th scope="col">last</th>
                        <th scope="col">handle</th>
                    </tr>
                </thead>
                <tbody>
               
                    <tr>
                        <a href=""> <td  class="btn btn-dark"  >view</td></a>
                        <td>enom</td>
                        <td>tyler</td>
                        <td>potraits</td>
                    </tr>
            
                </tbody>
            </table>
        </div>

    </div>
   

</div>
{%endblock content%}